/* start Global rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root {
    --section-background: #ececec;
    --main-color: #2196f3;
    --secundery-color: #1787e0;
    --transition-duration:0.3s;
    --third-color:#33d1cc;
    --main2-color: #ff3150;
    --secundery2-color: #ffc400;
    --padding-section:100px;
}
body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
 /* end Global rules */

/* start components */
.main-title{
    margin: 0 auto 100px;
    width: fit-content;
    padding: 20px 40px;
    border: 1px solid #777;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    transition: var(--transition-duration);
}
.main-title::before,
.main-title::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:var(--secundery2-color);
    top: 50% ;
    transform: translateY(-50%);
}
.main-title::before{
    left: -30px;
}
.main-title::after{
    right: -30px;
}
.main-title:hover::before{
   animation: left-fill 0.5s linear forwards;
    z-index: -1;
}
.main-title:hover::after{
    animation: right-fill  0.5s linear forwards;
    z-index: -1;
}
.main-title:hover{
    border-color: white;
    color: white;
    animation-delay: 0.5s;
}
/* end components */


 /* start header */
.header{
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    position: relative;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header .logo{
   color: var(--main-color);
   font-size: 26px;
   font-weight: bold;
   height: 72px;
   display:flex;
   align-items: center;
   justify-content: center;
}
.header .main-nav{
    display: flex;
}
.header .main-nav > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 30px;
    height: 72px;
    color: black;
    position: relative;
    overflow: hidden;
}
.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    transition:0.3s;
    background-color: var(--main-color);
}
.header .main-nav > li > a:hover{
    background-color: #fafafa;
    color: var(--main-color);
}
.header .main-nav > li > a:hover::before{
    left: 0;
}
@media (max-width:767px) {
    .header .logo{
        width: 100%;
        height: 60px;
    }
    .header .main-nav{
        margin: auto;
        transition: var(--transition-duration);
    }
    .header .main-nav > li > a {
        padding: 10px;
        height: 40px;
    }
}
.header .main-nav .megamenu{
    position: absolute;
    padding: 30px;
    z-index: 0;
    left:0;
    top:calc(100% + 50px);
    background-color: white;
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    overflow: hidden;
    transition: top var(--transition-duration) , opacity var(--transition-duration);
    opacity: 0%;
}

.header .other-links:hover .megamenu{
    opacity: 100%;
    z-index: 100;top: calc(100% + 1px);
}
.header .main-nav .megamenu .image img{
  width: 100%;
}
.header .main-nav .megamenu .links{
    flex: 1;
    min-width: 250px;
}
.header .main-nav .megamenu .links li{
    position: relative;
}
.header .main-nav .megamenu .links li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--transition-duration);
}
.header .main-nav .megamenu .links li:hover::before{
    width: 100%;
}
.header .main-nav .megamenu .links li a{
    display: block;
    padding: 15px ;
    margin-bottom: 5px;
    color: #777;
    font-weight: bold;
    transition: var(--transition-duration);
}
.header .main-nav .megamenu .links li:hover a{
    transform: translateX(10px);
} 
.header .main-nav .megamenu .links li a i{
    color: var(--main-color);
    margin-right: 15px;
}

@media (max-width:991px) {
   .header .main-nav .megamenu .image img{
    display: none;
   } 
}
@media (max-width:767px) {
    .header .main-nav .megamenu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
 /* end header */

 /* start landing */
.landing{
    position: relative;
    overflow: hidden;
}
.landing::before{
    content: "";
    position: absolute;
    top:-30px;
    left: 0;
    width: 100%;
    height: 100%;
    transform:skewy(-6deg);
    transform-origin: top left;
    background-color: var(--secundery2-color);
    z-index: -1;
}
.landing .container{
    display: flex;
    align-items: center;
    min-height:calc(100vh - 72px);
    padding-bottom: 100px;
  
}
.landing .text{
    flex: 1;
}
.landing .text h1{
    font-size: 40px;
    letter-spacing: -1;
}
.landing .text p{
    font-size: 24px;
    line-height: 1.6;
    color: #4d4c4c;
    margin: 5px 0 0;
    max-width: 500px;
}
.landing img{
    width: 500px;
    max-width: 100%;
    position: relative;
    animation:  up-and-down 5s linear infinite;
}

.landing .go-down{
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: var(--main-color);
    animation: bouncing 1.5s linear infinite;
}
.landing .go-down:hover{
    color: var(--secundery2-color);
}
@media (max-width:767px) {
  .landing .container{
    flex-direction: column;
    padding: 100px 50px;
  }
  .landing .text {
    text-align: center;
    width: 400px;
    max-width: 100%;
  }
  .landing .text h1{
    font-size: 30px;
  }
   .landing .text p{
    font-size: 18px ;
   }
  .landing img{
    width: 400px;
  }
  .landing .go-down{
    bottom: 10px;
  }
}
@media (max-width:991px) {
  .landing .container{
    flex-direction: column;
    padding: 100px 50px;
  }
  .landing .text {
    text-align: center;
    width: 400px;
    max-width: 100%;
  }
  .landing .text h1{
    font-size: 30px;
  }
   .landing .text p{
    font-size: 18px ;
   }
  .landing img{
    width: 400px;
  }
  .landing .go-down{
    bottom: 10px;
  }
}

 /* end landing */

/* start articles */
.articles{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px ,1fr));
    gap: 30px ;
}
.articles  .box{
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition: transform var(--transition-duration ) , border-box var(--transition-duration);
}
.articles  .box:hover{
    transform: translateY(-10px);
     box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img{
    max-width: 100%;
}
.articles .box .content{
    padding: 20px;
}
.articles .box .content h3{
    margin: 0 auto 10px;
}
.articles .box .content p{
    line-height: 1.5;
    color:#777;
    margin: 0;
}
.articles .box  .info{
    padding: 20px ;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box  .info a{
    color: var(--main-color);
    font-weight: bold;
}
.articles .box  .info i{
    color: var(--secundery2-color);
}
.articles .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
}
/* end articles */
 

 /* start gallery */
.gallery{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallery .box{
    padding:15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%) ,  0 2px 4px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
}
.gallery .image{
   position: relative;
   overflow: hidden;
}
.gallery .image::before{
    position: absolute;
    content: "";
    width:1px;
    height: 1px;
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: 0;
    transform: translate(-50% , -50%);
    transition: var(--transition-duration);
    background-color: rgba(255, 255, 255, 0.2);
}
.gallery .image:hover::before{
   animation: flashing 0.7s;
}
.gallery  .image img{
    max-width: 100%;
    position: relative;
}
.gallery .box .image:hover img{
    transform: rotate(5deg) scale(1.1);
} 

 /* end gallery */

/* start features*/
.features{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
    background-color: white;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 350px , 1fr));
    gap: 40px;
}
.features .box{
    background-color: white;
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .image{
    position: relative;
    overflow: hidden;
    transition: var(--transition-duration);
}
.features .box .image::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.features .box .image::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    z-index:1;
    border-style: solid;
    transition: var(--transition-duration);
    border-width: 10px 0px 120px 500px;
    border-color: transparent transparent  rgb(255, 255, 255) transparent;
}
.features .box:hover .image::after{
    border-width: 0px 500px 130px  0px  ;
    border-color:transparent transparent rgb(255, 255, 255) transparent;
}
.features .box .image img{
    max-width: 100%;
}
.features .box  h2{
    font-size: 40px;
    position: relative;
    margin: auto;
    width: fit-content;
}
.features .box  h2::before{
    position: absolute;
    content: "";
    bottom: -20px;
    left:15px;
    height: 3px;
    width: calc(100% - 30px);
}
.features .box  p {
    padding: 25px;
    font-size: 20px;
    line-height: 2;
    color: #777;
    margin: 30px 0;
}
.features .box  a{
    display: block;
    width: fit-content;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
    margin: 0px auto 40px;
    border-radius: 6px;
    border: 3px solid transparent;
    transition: var(--transition-duration);
}
.features .box:hover a{
    background-position: left bottom;
    color: white;
}
.features .quality .image::before{
    background-color: rgba(168, 9, 9, 0.267)
}
.features .quality  h2::before{
    background-color: #f44036;
}
.features .quality  a{
    color:  #f44036;
    border-color:red;
    background: linear-gradient(to right , #f44036 50% , white 50%);
    background-size: 210% 100%;
    background-position: right bottom;
}
.features .time .image::before{
    background-color: #00968731;
}
.features .time h2::before{
    background-color: #009688;
}
.features .time  a{
    color: #009688;
    border-color:  #009688;
    background: linear-gradient(to right , #009688 50% , white 50%);
    background-size: 210% 100%;
    background-position: right bottom;
}
.features .passion .image::before{
    background-color: #03a8f44f;
}
.features .passion h2::before{
    background-color: #03a9f4;
}
.features .passion a{
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right , #03a9f4 50% , white 50%);
    background-size: 210% 100%;
    background-position: right bottom;
}

/* end features*/

/* start testimonial */
.testimonial{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
    position: relative;
}
.testimonial .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 30px;
}
.testimonial .container .box{
    padding: 20px;
    background-color: white;
    border: 1px solid #eee;
    position: relative;
    box-shadow: 0 5px 20px 0 rgb( 0  0 0 / 20%);
}
.testimonial .box img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    right:-10px;
    border-radius: 50%;
    border: 10px solid  var(--section-background);
}
.testimonial .box h3{
    margin: 0 auto 10px;
}

.testimonial .box .title{
    color: #555;
}
.testimonial .box .rate{
    margin-top: 10px;
    display: block;
}
.testimonial .box .rate .filled{
    color: var(--secundery2-color);
}

.testimonial .box p{
    line-height: 1.5;
    color: #777;
    margin: 10px auto 0;
}
/* end testimonial*/

/* start team-members */
.team{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;

}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap:30px;
}
.team .box{
    position: relative;
}
.team .box::before,
.team .box::after{
    position: absolute;
    content: "";
    right:0; 
    top: 0;
    height: 100%;
    border-radius: 10px;
    background-color: #f3f3f3;
    transition: var(--transition-duration);
}
.team .box::before{
    z-index: -2;
    width: calc(100% - 60px);
}
.team .box::after{
    z-index: -1;
    background-color: #e4e4e4;
    right: 0;
    width: 0;
}
.team .box:hover::after{
    width: calc(100% - 60px);
}
.team .data { 
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .data img{
    width:calc(100% - 60px);
    border-radius: 10px;
    transition: var(--transition-duration);
}
.team .data:hover img{
    filter: grayscale(100%);
}
.team .data .social{
    width: 60px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.team .data .social a{
    width: 60px;
    height: 30px ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.team .data .social i{
    color: #777;
    cursor: pointer;
    transition: var(--transition-duration);
}
.team .data .social a:hover i{
    color: var(--main-color);
}
.team .box .info{
    padding-left:80px;
}
.team .box .info .title{
    color: var(--main-color);
    font-size: 22px;
    margin-bottom: 0;
    font-weight: normal;
    transition: var(--transition-duration);
}
.team .box:hover .info .title{
    color: var(--secundery2-color);
}
.team .box .info p{
    margin: 10px 0 20px;
}
/* end team-members */

/* start services */
.services{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
    background-color: var(--section-background);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap:30px;
}
.services .box{
    background-color: white;
    position: relative;
    text-align: center;
    counter-increment: services;
    transition: var(--transition-duration);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 12%);
}
.services .box::before{
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    height: 3px;
    width: 0;
    background-color: var(--main-color );
}
.services .box:hover{
    transform: translateY(-20px);
}
.services .box:hover::before{
    width: 100%;
}
.services .box i{
    color: #d5d5d5;
    display: block;
    text-align: center;
    margin: 40px auto 20px;
}
.services .box h3{
    color: var(--main-color);
    margin: 20px auto 40px ;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.services .box .info{
    background-color: #f9f9f9;
    text-align: right;
    position: relative;
    padding: 15px;
    position: relative;
}
.services .box .info a{
    color: var(--main-color);
}

 .services .box .info::before{
    content: "0" counter(services);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    color: white;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding-right: 20px;
}
 .services .box .info::after{
    position: absolute;
    content: "";
    top:0;
    left:80px;
    height:calc(100% + 0.5px);
    width:50px;
    background-color: #ccc;
    transform: skewx(-30deg);
 }

/* endservices */

.our-skills{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.our-skills .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.our-skills .image,
.our-skills .skills{
    flex: 1;
}
.our-skillss .skills{
    width: 100%;
}
.our-skills .skill{
    margin-bottom: 40px;
    min-width: 400px;
}
.our-skills .skills h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skills .skills h3 span{
    padding:3px 5px ;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #eee;
    color: var(--main-color); 
}
.our-skills .skills .the-progress{
    height: 30px;
    position: relative;
    background-color: #eee;
}
.our-skills .skills .the-progress span{
    background-color: var(--main-color);
    display: block;
    width: 100%;
    height: 100%;
}
@media (max-width:991px){
    .our-skills .container{
       gap:50px;
    }
    .our-skills .image{
       text-align: center;
    }
    .our-skills .skills{
       max-width: 600px;
       margin: 0 auto;
    }
}
/* start work */
.work-steps{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}
.work-steps .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work-steps .image {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-right: 100px;
}
.work-steps .image img{
    padding: 40px;
    background-color: var(--secundery2-color);
}
.work-steps .info .box{
    position: relative;
    display: flex;
    align-items: center;
    background-color:#f5f6f6;
    padding: 30px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 6px;
    transition: var(--transition-duration );
    overflow: hidden;
    z-index: 1;
}
.work-steps .info .box::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 1px;
    height: 1px;
    z-index: -1;
    background-color:#ededed;
    transition:var(--transition-duration);
}
.work-steps .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.work-steps .info .box img{
    width: 64px;
    margin-right: 30px;
 }  
.work-steps .info .box  h3{
    margin: 0 ;
    font-size: 22px;
}
.work-steps .info .box p{
    color: #777;
    line-height: 1.6;
    margin:10px 0 0;
    font-size: 18px;
}
@media (max-width:991px) {
    .work-steps .container{
        flex-direction: column ;
        gap: 50px;
    }
    .work-steps .image {
        display: none;
    }
}
@media (max-width:767px) {
    .work-steps .info .box{
        flex-direction: column;
        gap: 50px;
        text-align: center;
  }
    .work-steps .info .box img{
        margin-right: 0;
        }
}
/* end work */


/* start events */
.events{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
}
.events .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.events .container img{
    width:450px;
    margin-right: 100px;
}
.events .container  .info{
    flex: 1;
    text-align: center;
}
.events .container  .info .time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
}
.events .container  .info .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 75px;
    transition: var(--transition-duration);
}
.events   .info .unit span{
    display: block;
    transition: var(--transition-duration);
}
.events  .info .unit span:first-of-type{
    font-size: 35px;
    color:var(--main-color);
    font-weight: bold;
    padding: 15px;
}
.events  .info .unit span:last-of-type{
    font-size: 12px;
    padding: 8px;
    color: #777;
    border-top:  1px solid #d4d4d4 ;
}
.events  .info .unit:hover,
.events  .info .unit:hover span:last-of-type{
    border-color: var(--main-color);
}
.events .container .title{
    margin: 40px auto 0 ;
    font-size: 30px;
}
.events .container p{
    line-height: 1.6;
    color: #777;
    font-size: 19px;
}
.events .info .subscribe{
    width: 100%;
    margin-top: 50px;
}
.events  form{
    width: 600px;
    padding: 30px 40px;
    margin:20px auto;
    background-color: #f6f5f5;
    border-radius:50px;
    display: flex;
    gap: 20px;
}
.events form input{
    border-radius: 50px;
}
.events form input[type=email]{
    flex: 1;
    padding: 20px;
    background-color: white;
    border: none;
    caret-color: var(--secundery2-color);
}
.events form input[type=email]:focus{
    outline: none;
}
.events form input[type=email]::placeholder{
    transition: opacity var(--transition-duration);
}
.events form input[type=email]:focus::placeholder{
    opacity: 0;
}
.events form input[type=submit]{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition-duration);
}
.events form input[type=submit]:hover{
    background-color: var(--secundery2-color);
}
@media (max-width:991px) {
    .events .container img{
        display: none;
    }
}
@media (max-width:767px) {
    .events .container form{
        padding: 20px;
        max-width: 100%;
        flex-direction: column;
        border-radius:0 ;
    }
    .events form input{
        border-radius: 0;
    }
}
/* end events */

/* start pricing */

.pricing{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
    background-color: var(--section-background);
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}
.pricing .container .box{
    z-index: 1;
    text-align: center;
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%) , 0 2px 4px 0px rgb(0 0 0 / 13%) ;
    transition: var(--transition-duration);
}
.pricing .container .box::before,
.pricing .container .box::after{
    position: absolute;
    content: "";
    width: 0;
    height: 50%;
    z-index: -1;
    background-color: #f5f6f6;
    transition: var(--transition-duration);
}
.pricing .container .box::before{
    left: 0;
    top: 0;
}
.pricing .container .box::after{
    right: 0;
    bottom: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after{
    width: 100%;
}
@media (min-width:1200px) {
    .pricing .container .populer{
    position: relative;
    transform: translatey(-30px);
}
}
.pricing .container .box .more{
    position: absolute;
    right: 20px;
    top: 0;
    width: 40px;
    height: 150px;
    color: white;
    writing-mode: vertical-rl;
    padding: 10px 10px 35px 10px;
    background-color: var(--main-color);
}
.pricing .container .box .more::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    z-index: 0;
    border: solid;
    border-width: 21px;
    transition: var(--transition-duration);
    border-color: transparent transparent  white transparent;
}
.pricing .container .box:hover .more::before{
    border-color: transparent transparent #f5f6f6 transparent;
}
.pricing .container .box .more span{
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.pricing .container .box .title{
    margin:30px 0;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
}
.pricing .container .box img{
    width: 80px;
    margin-bottom: 30px ;
}
.pricing .container .box .price{
    margin-bottom: 20px;
}
.pricing .container .box span{
    display: block;
}
.pricing .container .box .amount{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);
}
.pricing .container .box .time{
    color:#777;
}
.pricing .container .box ul{
   text-align: left;
}
.pricing .container .box ul li{
    padding:20px;
    border-bottom: 1px solid #eee;
}
.pricing .container .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    margin-right: 10px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .container .box a{
    display: block;
    margin:40px auto;
    color: white;
    padding: 15px 20px;
    width: fit-content;
    color: var(--main-color);
    border-radius: 6px;
    border: 1px solid var(--main-color);
    transition: var(--transition-duration);
}
.pricing .container .box a:hover{
    background-color: var(--main-color);
    color: white;
    margin:40px auto ;
}
.pricing .container .right,
.pricing .container .left{
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
}
.pricing .container .right{
    top: 60%;
    left:0%;
}
.pricing .container .left{
    top: 30%;
    right:0%;
}
/* end pricing */

/* start video */
.videos{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: white;
    position: relative;
}
.videos .holder{
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: var(--section-background);
}
.videos .container .list {
    min-width: 300px;
    background-color: white;
}
.videos .container .list .name{
    padding:  20px;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #f4f4f4;
}
.videos .container .list li {
    z-index: 1;
    padding: 20px;
    cursor: pointer;
    position: relative;
    transition: var(--transition-duration);
    border-top:1px solid var(--section-background);
}
.videos .container .list li:hover{
    color: var(--main-color);
    background-color: var(--section-background);
}
.videos .container .list li span{
    display: block;
    color: #777;
    margin-top: 10px;
}
.videos .container .preview{
    flex: 1;
    padding: 10px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos  .preview img{
    width: 100%;
}
.videos .container .info{
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}
@media (max-width:991px) {
    .videos .holder{
        flex-direction: column;
    }
}
/* end video */

/* start .our-stats */

.our-stats{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
    position: relative;
}
.our-stats h2{
    position: relative;
    font-size: 40px ;
    font-weight: bold;
    margin: 0 auto 60px;
    width: fit-content ;
}
.our-stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 30px;
}
.our-stats .container .box{
    background-color: white;
    opacity: 0.6;
    position: relative;
    text-align: center;
    padding: 30px 15px;
    transition: var(--transition-duration);
}
.our-stats .container .box::before,
.our-stats .container .box::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    transition: 1s;
    background-color: var(--main-color);
}
.our-stats .container .box::before{
    right:0;
    top: 0;
}
.our-stats .container .box::after{
    left: 0;
    bottom: 0;
}
.our-stats .container .box:hover{
    opacity: 1;
}
.our-stats .container .box:hover::before,
.our-stats .container .box:hover::after{
    height: 100%;
}
.our-stats .container .box .number{
    display: block;
    font-size:40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.our-stats .container .text{
    color: var(--main-color);
    font-style:italic ;
    font-weight: bold;
    display: block;
}
/* end .our-stats */

/* start discount*/
.discount{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .image{
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    flex-basis: 50%;
    position: relative;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    animation: change-image 10s linear infinite;
}
.discount .image::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: var(--main-color);
}

.discount .content{
    z-index: 1;
    text-align: center;
    padding: 0 20px;
}
.discount .content h2{
    font-size: 40px;
    letter-spacing: -2;
}
.discount .content p{
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
}
.discount .content img{
    width: 300px;
    max-width: 100%;
} 
.discount  .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
.discount  .form .input{
    background-color: #f5f6f6;
    margin-bottom: 20px;
    display: block;
    padding: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    width:100%;
    caret-color: var(--main-color);
}
.discount  .form .input:focus{
    outline: none;
}
.discount  .form .textearea{
    resize: none;
    height: 200px;
}
.discount  .form input[type="submit"]{
    background-color: var(--main-color);
    cursor: pointer;
    padding: 20px;
    color: white;
    width:100%;
    border: none;
    font-weight: bold;
    font-size: 20px;
    transition: var(--transition-duration);
}
.discount  .form input[type="submit"]:hover{
    background-color: var(--secundery2-color);
}

@media (max-width:991px) {
    .discount .image,
    .discount .form{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}
/* end discount*/
/* start footer */
.footer{
    padding: 70px  0 0;
    background-color: #191919;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(250px , 1fr));
    gap: 40px;
}
.footer .container .box  h3{
    font-size: 50px;
    color: white;
    margin: 0 0 20px;
}
.footer .box .social{
    display: flex;
}
.footer .box .social li{
    margin-right: 10px;
}
.footer .box .social li a i{
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--transition-duration);
}
.footer .social .facebook:hover {
   background-color: #1877f2;
}
.footer .social .twitter:hover{
    background-color:#1da1f2;
}
.footer .social .youtube:hover{
    background-color:#ff0000;
}
.footer .box  .text{
    color: #b9b9b9;
    line-height: 2;
}
.footer .box .links li{
    transition: var(--transition-duration);
    padding:  15px 0;
}
.footer .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover{
    padding-left: 10px;
}
.footer .box .links li a{
    color: #b9b9b9;
}
.footer .box .links li:hover a{
    color: white;
}
.footer .box .links li a::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f101";
    margin-right: 10px;
    color: var(--main-color);
}
.footer  .box .line{
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
.footer  .box .line i{
    color: var(--main-color);
    margin-right: 10px;
    font-size: 25px;
}
.footer  .box .line .info{
    line-height: 1.6;
    flex: 1;
}
.footer  .box .line .info span{
    display: block;
}
.footer .box img{
    width: 78px;
    padding: 3px;
    margin: 2px;
    background-color: white;
}
.footer .copyright{
    padding: 25px  0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

/* end footer */
/* start animation */

@keyframes up-and-down{

0% , 100%{
    top: 0;
}
50%{
     top:-30px;
}
}
@keyframes bouncing{
0% , 10% ,   20% , 30% , 50% , 80% , 100%{
    transform: translateY(0);
}
40% , 50% {
    transform: translateY(-20px);
}
}

@keyframes left-fill {
50%{
    left: 0;
    width: 12px;
    height: 12px;
}
100%{
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
}
}
@keyframes right-fill {
50%{
    right: 0;
    width: 12px;
    height: 12px;
}
100%{
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
}
}
@keyframes  moving-arrow{

100% {
    transform: translateX(10px);
}
}

@keyframes  flashing {
0% , 40% {
    opacity: 1;
}
100% {
   opacity: 0;
   width: 200%;
   height: 200%;
}
}
@keyframes  change-image {
  0% , 20% , 40% , 50%  {
    background-image: url(../images/discount-background1.jpg);
  } 
 60% , 80% , 100% {
     background-image: url(../images/discount-background2.jpg);
 }
}
/* end animation */